<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JadiVegan - Recipe Detail</title>
    <meta name="description"
        content="Let's join our vegan community now at jadivegan! Find and try our vegan recipe from our skilled chef" />
    <script type="module" th:src="@{/js/database-config.js}"></script>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" th:href="@{/assets/images/logo.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR SECTION STARTED -->
    <nav class="bg-white border-gray-200" style="font-family: 'Poppins', sans-serif;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img th:src="@{/assets/images/logo.png}" class="h-8" alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap">JadiVegan</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                    <li>
                        <a th:href="@{/pages/explore-page}"
                            class="navbar-list block py-2 px-3 text-gray-900  rounded md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/pages/create-recipe-form}"
                            class="navbar-list block py-2 px-3 text-gray-900 rounded md:p-0">Create
                            Recipes</a>
                    </li>
                    <li>
                        <a href="" id="edit-recipe"
                            class="navbar-list block py-2 px-3 text-gray-900 rounded md:p-0">Edit This
                            Recipes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR SECTION ENDED -->

    <hr>

    <!-- MAIN SECTION STARTED -->
    <div class="max-w-screen-xl mx-auto w-full p-4 py-6 lg:py-8" style="font-family: 'Poppins', sans-serif;">
        <main class="">
            <article class="w-full max-w-2xl leading-loose">
                <h1 id="recipe-title" class="mb-4 text-5xl font-extrabold text-black lg:mb-6"
                    style="font-family: 'Dancing Script', cursive;">
                </h1>
                <figure>
                    <img id="dish-image" src="" alt="" class="object-cover rounded-lg">
                </figure>
                <br>
                <span style="font-family: 'Poppins', sans-serif;"
                    class="bg-green-700 rounded-lg text-white text-sm font-medium me-2 px-4 py-2" id="recipe-category">
                </span>
                <span style="font-family: 'Poppins', sans-serif;"
                    class="border border-gray-300 rounded-lg text-[#207b34] text-sm font-medium me-2 px-4 py-2"
                    id="recipe-servings">
                </span>
                <br>
                <br>
                <div id="recipe-content" class="text-black gap-3 my-4" style="font-family: 'Poppins', sans-serif;">
                    <div class="recipe-ingredients">
                        <h2 class="font-semibold my-3 text-2xl">Ingredients:</h2>
                        <ul id="recipe-ingredients" class="space-y-2 font-light">
                        </ul>
                    </div>

                    <br>

                    <div class="recipe-instructions">
                        <h2 class="font-semibold my-3 text-2xl">Instructions:</h2>
                        <ol id="recipe-instructions" class="space-y-2 font-light"></ol>
                    </div>

                    <br>

                    <div class="tips font[secondFont]">
                        <h2 class="font-semibold my-3 text-2xl">Tips:</h2>
                        <p id="recipe-tips" class="font-light">
                        </p>
                    </div>
                </div>
            </article>
        </main>
    </div>
    <!-- MAIN SECTION ENDED -->

    <br>
    <br>

    <!-- FOOTER SECTION STARTED -->
    <footer class="bg-white">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center">© 2024 <a href="#"
                        class="hover:underline">JadiVegan™</a>. All Rights Reserved.
                </span>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION ENDED -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>